<%- include header %>
 <% if (success) { %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= success %></div>
        <% } %>
        <% if (error) { %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= error %></div>
        <% } %>
 <% if (user) { %>
    <div class="">
      <a data-toggle="modal" data-target="#addPostModel" class="btn btn-info">新增文章</a>
     
   </div>
 <% } %>
<div class="row-fluid">
<section class="span9">
    <% posts.forEach(function(post, index){ %>
        <article  style="margin-bottom: 20px">
            <h2  id='title'><%= post.title %>
            </h2>
            <p> 日期： <a><%= post.time.day %></a>
            作者： <a><%= post.username %></a>
                 <% if (user) { %>
                  <div class="btn-group">
                     <a class="btn btn-danger btn-small"  href="deletePost/<%= post.username %>/<%= post.time.day %>/<%= post.title %>">删除文章</a>
                     <a  class="btn btn-warning btn-small editPostBtn"  data-username=<%= post.username %> data-day=<%= post.time.day %> data-title=<%= post.title %>  href="javascript:void(0)">修改文章</a>
                </div>
                 <% } %>
             </p>
            <p ><%- post.post %></p>
             <p ><a class="btn" href="post/<%= post.username %>/<%= post.time.day %>/<%= post.title %>">阅读此文</a></p>
        </article>
    <% }) %>

    <ul class="pager">
    <% if (!isFirstPage) { %>
      <li><a href="?p=<%= page-1 %>">上一页</a></li>
    <% }else { %>
     <li  class="disabled"><a href="javascript:void(0)">上一页</a></li>
     <% } %>
     
     <% if (!isLastPage) { %>
      <li><a href="?p=<%= page+1 %>">下一页</a></li>
    <% }else { %>
     <li  class="disabled"><a href="javascript:void(0)">下一页</a></li>
     <% } %>

    </ul>

</section>
<%- include aside %>
</div>


<%- include addPost %>
<%- include editPost %>


<%- include footer %>